{% extends 'base.html' %}

{% block title %} | Lista articoli {% endblock title %}

{% block content %} <h4>{{ titolo }}</h4>
{% for articolo in articoli %}
    <p><strong>Titolo: </strong>
        <!-- metodo non ottimale per creare un link -->
        <!-- <a href="articoli/{{ articolo.id }}"> {{ articolo.titolo }}</a> -->
         <a href={% url 'news:articolo_detail' articolo.id %}>{{ articolo.titolo }}</a>
    </p>
    <p><strong>Contenuto: </strong>
        {{ articolo.contenuto }}
    </p>
    <p><strong>Autore: </strong>
        <!-- metodo ottimale per creare un link -->
        <a href={% url 'news:giornalista_detail' articolo.giornalista.id %}>{{ articolo.giornalista }}</a>
    </p>
    <hr>
{% endfor %}
{%endblock content %}